* {
    margin: 0;
    padding: 0;
}

.header {
    min-height: 50px;
    width: 100%;
    color: #ccc;
    position: relative;
}

nav {
    display: flex;
    padding: 2px 2px;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 50px;
    height: 50px;
    padding: 0px;
}

.logoText {
    font-family: 'Stick No Bills', sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    color: #1c4966;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    font-family: 'Genos', sans-serif;
    color: #1c4966;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.head img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 1;
    z-index: -1;
}

.head img {
    filter: brightness(70%);
}

.head {
    position: relative;
    width: 100%;
    background-position: center;
    background-size: contain;
    text-align: center;
}

.first {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.first h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 62px;
}

.first p {
    font-family: 'Raleway', sans-serif;
    margin: 10px 0 40px;
    font-size: 14px;
}

nav .fa{
    display: none;
}

nav .fa-solid{
    display: none;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links ul li a {
        color: white;
    }

    .head img{
        width: 100vh;
        height: 100vh;
        background-size: cover;
    }

    .nav-links {
        position: absolute;
        background: #1c4966;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa-bars{
        display: block;
        color: #1c4966;
        margin: 5px;
        font-size: 20px;
        cursor: pointer
    }

    nav .fa-xmark{
        display: block;
        color: white;
        margin: 5px;
        font-size: 20px;
        cursor: pointer
    }

    .nav-links ul{
        padding: 20px;
    }

}

/*----- products ------*/

.sub-head{
    position: relative;
    display: inline-block;
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("Images/banner.jpeg");
    background-position: top;
    background-size: cover;
    text-align: center;
    color: white;
}

.second {
    width: 90%;
    color: white;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}

.second h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 62px;
}

.tile{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background-color: white;
    text-align: center;
}

.write{
    font-family: 'Raleway Dots', cursive;
    color: #282828;
    text-decoration-line: overline underline;
    text-decoration-style:dashed;
    font-size: 30px;
}
